/**{ 
border: dotted 2px green;}*/
body{
	height:880px;
}
#wrapper {

	height: 100%;
	width:100%;
	border: solid 1px red;
}
#wrapper div {
 
	/*border: dashed 1px blue;*/
	margin: 1px;
	display: inline-block;
}
/*#wrapper div:hover{
	background-color:#5BC7EB;
	opacity: .15;
	z-index:1;
}
*/
#tree{

	position:absolute;
	top : 	120px;
	height:75%;
	width:25%;
}
/*#tree:hover{
	position:absolute;
	width:30%;
}*/

#tableWrap{
	border: 4px dashed green;
	background-color: #FFFEEE;
	border-radius: 10px;
	display: inline-block;
	position:absolute;
	top:20%;
	left:25%;
	width:55%;
	height:75%;
}
/*#tableWrap:hover{
	height:78%;
	width:68%;
	background-color:#FC9C7C;
	opacity:1;
}*/


#table{
	display:inline-block;
	position:absolute;
	height:85%;
	width:95%;
	z-index: 2;
}

#setForm {
	display: block;
	position: relative;
	z-index: 6;
	width: 60%;
	right: 5%;
}
/*#table:hover{
	width:98%;
	height:87%;
	background-color: #E4F5DF;
	opacity:.6;
}*/
#operations{
	border: 2px dotted #eeeaaa;
	position:absolute;
	display:block;
	bottom:-1px;
	width:95%;
	height:10%;
}
/*#operations:hover {

	height:24%;
	background-color: #F1C5FA;
	opacity:.6;
}
*/
.operationsClicked{
	height:24%;
	background-color: #F1C5FA;
	opacity:.6;
}



#facts{
	position:absolute;
	right:-1px;
	bottom:-1px;
	height:40%;
	width:45%;
	z-index:1;
}

#sets{
	padding-left: 10em ;
	border-radius: 40px;
	background-color: #EEEFFF;
	border: 2px solid black;
	position:absolute;
	display: inline-block;
	top:-8px;
	left:59%;
	height:40%;
	width:45%;
	z-index:2;	
}

#set{
position:relative;
display: block;
	top:120px;
	left:0%;
	height:5%;
	width:5%;
	z-index:2;	
}
#elements{
	position:relative;
	display: block;
	top:250px;
	width:100%;
	height:20%;
}
.leftClicked{
	background-color: yellow;
	height:60px;
	width:100px;
}
.rightClicked{
	background-color: yellow;
	height:60px;
	width:100px;
}

.hidden{
	visibility: hidden;
}
